<div class="container mt-3">
    <h2 class="text-center">Thêm thương hiệu</h2>
    
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group" id="divBrandId">
                <label for="brandId">
                    Mã thương hiệu
                </label>
                <input type="text" name="brandId" id="brandId" class="form-control" readonly>
            </div>

            <div class="form-group" id="divBrandName">
                <label for="brandName">
                    Tên thương hiệu
                </label>
                <input type="text" name="brandName" id="brandName" class="form-control"
                    placeholder="Nhập tên thương hiệu" autocomplete="off" required="required">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <button id="btnBrand" class="btn btn-secondary" style="height:40px">Huỷ</button>
            <button id="btnInsertBrand" class="btn btn-success" style="height:40px">Thêm</button>
            <button id="btnUpdateBrand" class="btn btn-primary" style="height:40px">Cập nhật</button>
        </div>
    </div>
</div>