<div class="container mt-3">
    <h2 class="text-center">Thêm khách hàng</h2>
    
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="customerId">
                    Mã khách hàng
                </label>
                <input type="text" name="customerId" id="customerId" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="registrationDate">
                    Ngày đăng ký
                </label>
                <input type="text" name="registrationDate" id="registrationDate" class="form-control" readonly>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="customerName">
                    Tên khách hàng
                </label>
                <input type="text" name="customerName" id="customerName" class="form-control"
                    placeholder="Nhập tên khách hàng" autocomplete="off" required="required">
            </div>
            <div class="form-group">
                <label for="identification">
                    CMND/CCCD
                </label>
                <input type="text" name="identification" id="identification" class="form-control"
                    placeholder="Nhập CMND/CCCD" autocomplete="off" required="required">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="username">
                    Tài khoản
                </label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Nhập tài khoản"
                    autocomplete="off" required="required">
            </div>
            <div class="form-group">
                <label for="password">
                    Mật khẩu
                </label>
                <input type="text" name="password" id="password" class="form-control" placeholder="Nhập mật khẩu"
                    autocomplete="off" required="required">
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">
                    Email
                </label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Nhập email" autocomplete="off"
                    required="required">
            </div>
            <div class="form-group">
                <label for="phone">
                    Số điện thoại
                </label>
                <input type="text" name="phone" id="phone" class="form-control" placeholder="Nhập số điện thoại"
                    autocomplete="off" required="required">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="address">
                    Địa chỉ
                </label>
                <input type="text" name="address" id="address" class="form-control" placeholder="Nhập địa chỉ"
                    autocomplete="off" required="required">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <button id="btnCustomer" class="btn btn-secondary" style="height:40px">Huỷ</button>
            <button id="btnInsertCustomer" class="btn btn-success" style="height:40px">Thêm</button>
            <button id="btnUpdateCustomer" class="btn btn-primary" style="height:40px">Cập nhật</button>
        </div>
    </div>
</div>
