/*jssor slider arrow skin 112 css*/
.jssora112 {
    display: block;
    position: absolute;
    cursor: pointer;
}

.jssora112 .a {
    fill: #333;
    fill-opacity: .7;
    stroke: #fff;
    stroke-width: 160;
    stroke-miterlimit: 10;
    stroke-opacity: .7;
}

.jssora112:hover {
    opacity:.8;
}

.jssora112.jssora112dn {
    opacity: .4;
}

.jssora112.jssora112ds {
    opacity: .3;pointer-events:none;
}


/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: var(--white-color);
}

.jssort101 .p .cv {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    z-index: 1;
}

.jssort101 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 400;
    stroke-miterlimit: 10;
    visibility: hidden;
}

.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {
    border: none;
    border-color: transparent;
}

.jssort101 .p:hover{
    padding: 2px;
}

.jssort101 .p:hover .cv {
    background-color: rgba(0,0,0,6);
    opacity: .35;
}

.jssort101 .p:hover.pdn{
    padding: 0;
}

.jssort101 .p:hover.pdn .cv {
    border: 2px solid var(--primary-color);
    background: none;
    opacity: .35;
}

.jssort101 .pav .cv {
    border-color: var(--primary-color);
    opacity: .35;
}

.jssort101 .pav .a, .jssort101 .p:hover .a {
    visibility: visible;
}

.jssort101 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    opacity: .6;
}

.jssort101 .pav .t, .jssort101 .p:hover .t{
    opacity: 1;
    border: 1px solid var(--primary-color);
}


.product-details .slider-t-l {
    top: 0;
    left: -30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product-details .slider-t-r {
    right: -20px;
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-details .slider-t-l, .product-details .slider-t-r {
    display: block;
    position: absolute;
    width: 30px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    background: #fff;
    color: #00483d;
}

.product-details .slider-t-l, .product-details .slider-t-r {
    display: block;
    position: absolute;
    width: 30px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    background: #fff;
    color: #00483d;
}

.product-details .slider-t-r i {
    margin-left: 10px;
}

.product-details .slider-t-r i {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}